# Rust/Cargo
/target/
Cargo.lock
**/*.rs.bk

# Editor/IDE specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build artifacts
*.rmeta
*.rlib
*.rmeta
*.rmeta-*.*.*
*.dSYM/

# Testing artifacts
*.swp
*.swo
*.rs.bk

# Dependency directories
**/target/
**/Cargo.lock
